* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-white);
}

a,
li {
  text-decoration: none;
  list-style-type: none;
  color: #fff;
}

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-green: rgb(54, 220, 164);
  --color-green-hover: rgb(58, 189, 145);
  --color-grey: #747474;
  --color-grey-navbar: #333333;
  --color-back-faq: #f8f8f8;
  --color-grey-2e3333: #2e3333;
}
/* NAVBAR */

.navbar {
  box-shadow: none;
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 30px 50px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-black);
  z-index: 9999;
  border-bottom: 1px solid var(--color-grey-navbar);
}

.box-navbar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
}

.logo {
  display: block;
  margin: 0 auto;
  padding: 10px 0 10px 0;
  width: 230px;
  background: url(assets/img/UEPREMIUM-logo.svg) center no-repeat;
}

/* MAIN BACKGROUND */

.main-background {
  background-image: url(assets/img/img-back-3.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 900px;
  background-repeat: no-repeat;
  padding: 300px 0px;
  background-attachment: fixed;
}

.main-title {
  color: var(--color-white);
  font-size: 40px;
  text-align: left;
  font-weight: 500;
}

.title-newsletter {
  color: var(--color-white);
  font-size: 25px;
  text-align: left;
  font-weight: 400;
  margin-top: 40px;
}

.input-newsletter {
  color: var(--color-black);
  background-color: var(--color-white);
  font-size: 16px;
  text-align: left;
  font-weight: 500;
  padding: 18px 20px;
  outline: none;
  border: none;
  margin-top: 30px;
  width: 450px;
}

.input-newsletter::placeholder {
  color: rgb(151, 151, 151);
  font-weight: 500;
}

.button-newsletter {
  color: var(--color-white);
  font-size: 16px;
  font-weight: 500;
  background-color: var(--color-green);
  outline: none;
  border: none;
  padding: 18px 50px;
  margin-left: 10px;
  cursor: pointer;
}

.button-newsletter:hover {
  background-color: var(--color-green-hover);
  transition: 0.5s;
}

.box-main {
  max-width: 1200px;
  display: block;
  margin: 0 auto;
  padding: 0px 50px;
}

/* MAIN BACKGROUND */

/* IMG SEPARATOR */

.img-separator {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-bottom: -10px;
}

.img-separator-main {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-top: -150px;
}

/* IMG SEPARATOR */

/* DOWNLOAD */

.img-mobile-app {
  width: 80px;
  object-fit: contain;
  vertical-align: bottom;
}


.box-app {
  background-color: var(--color-white);
  max-width: 750px;
  display: block;
  margin: 0 auto;
  padding: 90px 0px;
}

.txt-app-download {
  color: var(--color-black);
  font-size: 32px;
  font-weight: 500;
  padding: 0px 50px;
}

.box-icon-store {
  display: flex;
  padding: 40px 0px 0px 0px;
  margin-left: -10px;
}

.link-app {
  cursor: pointer;
  width: 200px;
}

.box-app-title {
  display: flex;
  justify-content: space-between;
}

/* DOWNLOAD */

/* COUNTDOWN */

.box-countdown {
  margin: 0 auto;
  text-align: center;
  padding: 50px 0px;
  font-size: 20px;
  margin: 0 auto;
}

.mainbox-countdown {
  margin: 0 auto;
  text-align: center;
  display: block;
  padding: 150px 0px;
  font-size: 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.box-green {
  background-image: url("assets/img/zone-green.png");
  background-position: center;
  background-size: cover;
}

.box-count {
  background-color: var(--color-white);
  border-radius: 5px;
  font-size: 18px;
  margin: 20px;
  padding: 40px;
  width: 180px;
  display: inline-block;
  list-style-type: none;
  text-transform: uppercase;
  color: var(--color-black);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.count-number {
  font-weight: 500;
  font-size: 70px;
  color: var(--color-black);
  display: block;
}

.title-countdown {
  color: var(--color-white);
  font-size: 40px;
  text-align: center;
  font-weight: 500;
  margin: 0px 50px;
  text-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}
/* COUNTDOWN */

/* FAQ */

.box-faq {
  display: block;
  background-color: var(--color-back-faq);
  border-radius: 5px;
  max-width: 1200px;
  padding: 50px 70px;
  margin-top: 40px;
  margin: 0 auto;
}

.main-box-faq {
  margin: 40px 50px 0px 50px;
}

.title-faq {
  color: var(--color-black);
  font-size: 32px;
  font-weight: 600;
  padding: 20px 0px 30px 0px;
}

.list-item {
  background: var(--color-white);
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(50, 50, 90, 0.1);
  margin-top: 30px;
}

.faq-title {
  cursor: pointer;
  padding: 10px 0px 10px 10px;
  font-size: 18px;
  font-weight: 400;
  color: var(--color-black);
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.faq-title::after {
  content: "+";
  float: right;
  transition: transform 0.3s ease;
  font-size: 27px;
  margin-left: 20px;
}

.faq-content {
  padding: 10px;
  color: var(--color-grey-2e3333);
  font-size: 16px;
  display: none;
  line-height: 22px;
}

.faq-content-title {
  padding: 10px 0px;
  color: var(--color-black);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}

.trigger-input {
  display: none;
}

.trigger-input:checked + .trigger-wrapper .faq-content {
  display: block;
  animation: animation-faq 1s;
}

@keyframes animation-faq {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.trigger-input:checked + .trigger-wrapper .faq-title::after {
  transform: rotate(45deg) scale(1.08);
}

.trigger-wrapper {
  padding: 20px;
}

/* FAQ */

/* MOCKUP */

.box-restaurant {
  width: 100%;
  height: auto;
  border-radius: 5px;
  display: flex;
  margin: 0 auto;
  background-color: var(--color-white);
  max-width: 1200px;
  padding: 60px 50px;
}

.img-mockup {
  width: 450px;
  height: auto;
  display: block;
  margin: 0 auto;
  background-color: var(--color-white);
  border-radius: 5px;
  object-fit: contain;
}

.title-restaurant {
  color: var(--color-black);
  font-size: 32px;
  text-align: left;
  font-weight: 600;
  opacity: 1;
}

.soustitle-restaurant {
  color: var(--color-black);
  font-size: 22px;
  text-align: left;
  font-weight: 400;
  margin-top: 30px;
}

.box-text-app {
  display: block;
  justify-content: space-between;
  padding: 220px 20px;
}

/* MOCKUP */

/* FOOTER */

.footer {
  width: 100%;
  background-color: var(--color-black);
  height: auto;
}
.box-footer {
  max-width: 1200px;
  display: block;
  margin: 0 auto;
  padding: 50px 50px;
  bottom: 0;
  left: 0;
}

.box-logo {
  border-bottom: 1px solid var(--color-grey);
  padding: 20px 0px;
}

.logo-footer {
  display: block;
  padding: 10px 0;
  width: 240px;
  background: url(assets/img/UEPREMIUM-logo-white.svg) center no-repeat;
  fill: var(--color-white);
}

.link-footer {
  color: var(--color-white);
  margin: 0px 0px 0px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  border-bottom: 1px solid transparent;
}

.link-footer:hover {
  color: var(--color-white);
  border-bottom: 1px solid var(--color-white);
}

.box-link-footer-right {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: right;
  align-content: stretch;
  align-items: flex-start;
}

.box-link-footer {
  width: 100%;
}

.box-copyrightpluslink {
  display: flex;
  padding: 20px 0px 0px 0px;
}

.title-copyright {
  color: var(--color-grey);
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}

/* FOOTER */

/* RESPONSIVE */

@media only screen and (max-width: 787px) {
  .main-background {
    background-image: url(assets/img/img-back-mobile.png);
    height: 1000px;
  }
  .img-mobile-app {
    display: block;
    margin: 0 auto;
  }

  .img-separator-main {
    margin-bottom: 10px;
  }
  .img-separator {
    margin-top: -8px;
  }

  .txt-app-download {
    padding: 50px 50px;
    text-align: center;
  }

  .box-icon-store {
    justify-content: center;
  }

  .box-app-title {
    display: flex;
    flex-direction: column;
  }
  .box-restaurant {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
  }
  .title-restaurant {
    text-align: center;
    font-weight: 500;
    margin-top: -90px;
    margin-left: 0px;
    text-align: left;
  }

  .box-green {
    background-image: url("assets/img/zone-green-mobile.png");
  }

  .img-mockup {
    width: 290px;
    margin-left: 30px;
  }
  .box-icon-store {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .soustitle-restaurant {
    text-align: center;
    font-weight: 500;
    margin-top: 50px;
    margin-left: 0px;
    text-align: left;
  }

  .input-newsletter {
    padding: 20px 20px;
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 80px;
  }

  .button-newsletter {
    padding: 20px 20px;
    display: block;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 100px;
  }
  .main-box-faq {
    margin: 40px 20px 0px 20px;
  }
  .trigger-wrapper {
    padding: 10px;
  }

  .box-faq {
    padding: 50px 20px;
  }
}

@media only screen and (max-width: 845px) {
  .box-link-footer-right {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  .box-copyrightpluslink {
    display: flex;
    flex-direction: column-reverse;
  }
  .link-footer {
    margin: 20px 0px;
  }
  .title-copyright {
    margin-top: 20px;
  }
}
/* RESPONSIVE */

/* ANIMATION CSS */

.reveal {
  position: relative;
  opacity: 0;
  transition: 2s all ease;
}
.reveal.active {
  opacity: 1;
}

.reveal-title {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal-title.active {
  transform: translateY(0);
  opacity: 1;
}

.reveal-p {
  position: relative;
  transform: translateY(70px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal-p.active {
  transform: translateY(0);
  opacity: 1;
}

/* ANIMATION CSS */
